﻿@using ClassCode.ViewModels;

@model List<OrderListViewModel>

<h2>All orders:</h2>

<table border="1">
    <tr>
        <td>User</td>
        <td>Pizza</td>
    </tr>

    @foreach (OrderListViewModel order in @Model)
    {
        <tr>
            <td>@order.UserFullName</td>
            <td>@order.PizzaName</td>
        </tr>
    }
</table>